@font-face {
    font-family: 'Minecraftia';
    src: url('../assets/Minecraftia.ttf') format('truetype');
}body {
    transition: none;
    font-family: 'Minecraftia', sans-serif;
    background: url('../assets/herobrine.png');
    color: white;
}.Butao {
    text-align: center;
    gap: 20px;
    width: 120px;
    padding: 20px 40px;
    font-size: 20px;
    margin: auto;
    margin: 30px 60px 60px;
    line-height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: url('../assets/fundoButao.png') no-repeat center center;
    background-size: 100% 100%;
    border: 2px solid #565656;
    cursor: pointer;
    box-shadow: 2px 2px 10px #565656;
    text-decoration: none;
    color: white;
}
.Butao:hover {
    background-color: #808080;
    border-top: 3px solid #565656;
}
.creepy{
    font-size: 12px;

}